In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for schools in high_schools:
    print(schools)

# just <high_schools> works too

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [5]:
# List of high schools for pandas
long_high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

long_high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [7]:
#install pandas just in case

!pip install pandas

Requirement already satisfied: pandas in d:\anacondajupyter\lib\site-packages (1.0.3)
Requirement already satisfied: numpy>=1.13.3 in d:\anacondajupyter\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\anacondajupyter\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in d:\anacondajupyter\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in d:\anacondajupyter\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [8]:
#importing pandas libraray as a dependency with pnds as the alias to recall
import pandas as pnds

In [9]:
#Create a Pandas Series(1d, labeled array, holds any data type) from a list
#assign school_series to convert long_high_school list to panda series by alias
school_series = pnds.Series(long_high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
for skool in school_series:
    print(skool)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [11]:
#another way to iterate using index
for skindex in range(0, len(school_series)):
    print(school_series[skindex])

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [12]:
# A dictionary of high schools
# panda dataframe contains multiple series with rows and coloumns, diff data types
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [13]:
# convert the array to a DataFrame
# practice adding "_df", "_srs" to distinguis between DataFrames, Series, and variables
school_df = pnds.DataFrame(high_school_dicts)

school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [18]:
# # Three separate lists of information on high schools
# adding each column as a list, or Series, to an empty DataFrame

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [19]:
# Initialize a new DataFrame.
schools_df = pnds.DataFrame()

schools_df["Schools ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

schools_df

   Schools ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter

In [26]:
# Create a dictionary of information on high schools

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

new_kook_df = pnds.DataFrame(high_schools_dict)
new_kook_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [29]:
# school_df.columns
# # list of the column names

school_df.index
#RangeIndex that contains the first and last index value, as well as the “step=1,” or how often the index increments

# school_df.values
# #  an array of all the values

#

RangeIndex(start=0, stop=5, step=1)

In [44]:
# nskool_id = range(0, 14)

# nskool_id

# nskool_name = long_high_schools

# nskool_name

# nskool_type = ""
# for values in nskool_type:
#     if index[0,1,3,7,11,12,13]:
#         print("District")
#     else:
#         print("Charter")
        
# nskool_type

new_skool_dict = {"School ID": [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],
                 "Schhol Name": long_high_schools, 
                 "Type": ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]}

skool_dtfrm_df= pnds.DataFrame(new_skool_dict)

skool_dtfrm_df

    School ID            Schhol Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter